@media screen and (max-width: 767px) {
  .password-display {
    width: 21.4375rem;
    margin-top: 4.06rem;
  }
}

@media screen and (min-width: 768px) {
  .password-display {
    width: 33.75rem;
    margin-top: 8.31rem;
  }
}

.password-display {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

.title {
  text-align: center;
}

.title h1 {
  color: var(--grey-600);
}

.settings-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.password-container {
  border: 1px solid white;
  background: var(--grey-800);
  padding: var(--spacing-200) var(--spacing-400);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-container p {
  color: var(--grey-700);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.625rem;
}

.password-container button {
  border: none;
  background: none;
  width: 1.3125rem;
  height: 1.5rem;
}

.options-container {
  background: var(--grey-800);
  padding: var(--spacing-300) var(--spacing-400);
}

.options-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

.character-length-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.group {
  display: flex;
  align-items: center;
}

.group p:nth-child(1) {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}

.group p:nth-child(2) {
  margin-left: auto;
  color: var(--green-200);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.625rem;
}

.slider {
  -webkit-appearance: none;
  outline: none;
  width: 100%;
  height: 0.5rem;
  background: var(--grey-850);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  background: var(--grey-200);
  border-radius: 50%;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  border: 2px solid var(--green-200);
  background: var(--grey-850);
}

.slider::-moz-range-thumb {
  border: 2px solid var(--green-200);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: var(--grey-200);
  width: 1.75rem;
  height: 1.75rem;
}

.checkbox-options-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.strength-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

.strength {
  background: var(--grey-850);
  padding: var(--spacing-300) var(--spacing-400);
  display: flex;
  align-items: center;
}

.strength p {
  color: var(--grey-600);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}

.strength-bars {
  margin-left: auto;
  display: flex;
  gap: var(--spacing-100);
}

.bar {
  width: 0.625rem;
  height: 1.75rem;
  border: 2px solid var(--grey-200);
}
