.generate-btn {
  width: 100%;
  height: 4.0625rem;
  box-sizing: border-box;
  border: none;
  background: var(--green-200);
  padding: var(--spacing-300) var(--spacing-2200);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-300);
}

.generate-btn:hover {
  border: 2px solid var(--green-200);
  background: none;
  color: var(--green-200);
}

.generate-btn p {
  font-family: "JetBrains Mono";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}
